**/node_modules
node_modules/
.pnpm-store/
**/dist
dist/
.turbo/
*.tsbuildinfo
.env
.env.local
.env.*.local
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
npm-debug.log*
pnpm-debug.log*
coverage/
*.db
*.sqlite
.git/
docker/.env
apps/mobile/
apps/tizen-tv/
apps/tv/
